.passwordContainer{
    height: 600px; 
    width:600px; 
    margin: auto; 
    margin-top: 50px; 
    background-color: rgb(236, 235, 233); 
    padding: 35px;
    border-radius: 20px;
}
.optionCont{
    margin: 15px;
    padding: 15px;
    font-size: large;
    color: crimson;
}
.optionCont label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.chekkino{
    border-radius:15%  !important;
}
.optionCont input:hover{
    cursor: pointer;
}
.optionCont #numberChars{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    text-align: end;
}
.btnGenerate{
   width: 159px; 
   height: 50px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   background-color: crimson;
   color: cornsilk;
   font-size: larger;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btnGenerate:hover{
    background-color: rgb(233, 93, 121);
    cursor: pointer;
}
#passwordH1{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 25px;
}  